*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.main{
    background-color: red;
    width: 50vw;
    height: 50vh;
    cursor: pointer;
}
.main:hover{
    background-color: green;
}